[Unit]
Description=Discovery Gate Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u app.py
WorkingDirectory=/home/sensorid/discovery/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
